<!DOCTYPE html>
<html>
  <head>
    <title>JarLuc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

<!-- Modal -->
    <div class="modal fade" id="hintModalLong" tabindex="-1" role="dialog" aria-labelledby="hintModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="hintModalLongTitle">Jar-Luc, the facepalm-jar!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3>The Facepalm Jar is here!</h3>
            <p>
              We've all been there, coding away at our workstations, squishing bugs when at some point, something very basic escapes us, and we are only reminded when the error appears.
              Such rookie mistakes, or rather 'happy-accidents', happen to all of us, at all seniority levels. Hence, I thought to make a website (and API) where developers (et al) can proudly post their recent Facepalm moments!
              We've all seen and used the Jean-Luc image/gif of him facepalming, or Sokka's red forehead after multiple continuous facepalms. Let this be a safe haven for our little accidents!
            </p>
            <br>
            <h6>
              Inspired by the concept of a Swear-Jar, here is the Facepalm-Jar, or rather, in honour of the captain himself Jar-Luc!
            </h6>
            <br>
            <h4>Use instructions:</h4>
            <br>
            <h5>Via Browser:</h5>
            <p>Here, at <a href="https://jar-luc.herokuapp.com">Jar-Luc</a>, you can use the form to post your Palmy, as we have come to name them, with a description of what made you slap yer face, and, if you are so inclined, your identity/pseudonym.</p>
            <br>
            <h5>Via curl:</h5>
            <code>curl -X POST -H 'Content-Type: application/json' -d '{ "description": "Forgot to migrate after creating a new model", "author": "Aristotle" }' https://jar-luc.herokuapp.com/api/v1/palmies</code>
            <br>
            <br>
            <h5>Or, with this handy-dandy function in your ~/.aliases file</h5>
            <code>
              facepalm(){
                curl -X POST -H 'Content-Type: application/json' -d '{ "description": "'"$1"'", "author": "'"$2"'" }' https://jar-luc.herokuapp.com/api/v1/palmies
              }
            </code>
            <br>
            <br>
            <h6>And use it like so:</h6>
            <code>
              facepalm "opening a browser to make a POST req" "El Barto"
            </code>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="facepalm-banner container banner"></div>
    <br>
    <div class="container">
      <button type="button" class="btn btn-primary container" data-toggle="modal" data-target="#hintModalLong">
        What am I looking at?
      </button>
      <%= yield %>
    </div>
  </body>
</html>
